annotated-types
asgiref
black
click
colorama
Django
django-cors-headers
django-jazzmin
django-rest-framework
djangorestframework
dnspython
email_validator
eventsourcing
gunicorn
idna
inflection
mypy-extensions
packaging
pathspec
pillow
platformdirs
psycopg2
pydantic
pydantic_core
python-decouple
python-slugify
pytz
PyYAML
sqlparse
text-unidecode
tomli
typing_extensions
tzdata
uritemplate
