
{% extends "base.html" %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<div class="col-md-9 col-xxl-9">
    <div class="mt-5">
    <div class="row g-3 g-xl-4">
        <div class="col-12">
          <div class="vh-auth">
            <div class="row g-4">
              <div class="col-lg-12" style="margin: auto;">
                    <h4 class="vh-query__title fw-bold text-center t-text-white text-capitalize" style="font-size: 20px">
                  Change Password
                    </h4>
                    <p class="t-text-white text-center text-capitalize" style="font-size: 14px;">Change your password to a new one</p>
                  <div class="row"> 
                       
                        <div class="vh-query t-bg-alpha">
                          <form method="POST" action="" class="row g-4" id="contact_form_submit">
                            <div style="margin: auto;" class="col-sm-12 col-lg-6 mt-5">
                              <div class="input-group">
                              <input type="password" class="
                                  form-control
                                  form-control-custom
                                  form-control-custom--outline
                                  form-control-custom--outline-thin
                                  t-text-white p-4 fw-bold
                                " placeholder="Enter Old Password" minlength="8" name="oldpassword" required="">
                              </div>
                            </div>

                            <div style="margin: auto;" class="col-sm-12 col-lg-6 mt-5">
                              <div class="input-group">
                              <input type="password" class="
                                  form-control
                                  form-control-custom
                                  form-control-custom--outline
                                  form-control-custom--outline-thin
                                  t-text-white p-4 fw-bold
                                " placeholder="Enter New Password" minlength="8" name="newpassword" required="">
                              </div>
                            </div>
                            <div class="col-12">
                              <button type="submit" name="pass_edit" class="
                                  btn btn--lg
                                  button-solid
                                  btn-grad btn-grad--orange
                                  text-uppercase
                                  btn--sqr
                                  w-100 p-2 fw-bold
                                " style="color: #fff">
                                Change Password
                              </button>
                            </div>
                          </form>
                        </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}