{% load static %}
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chestgold</title>
    <!-- favicon -->
    <link rel="icon" href="../assets/img/favicon.png" sizes="16x16" type="image/png">
    <!-- Stylesheet Link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></head>
  <body class="t-bg-secondary">

    <div class="alert alert-success" role="alert" style="padding: 0px; text-align: center;">
                    <p style="color: #191a19">We have sent a confirmation code to the email address provided, check your inbox (or spam) and enter it below.</p>
                    
                    
                                        
                </div>

    <div class="t-pt-100 t-pb-100 animate-section animate-section--feature">
      <div class="container">
        <div class="row g-3">
          <div class="col-12">
            <div class="vh-auth">
              <div class="row g-4">
                <div class="col-lg-5" style="margin: auto;">
                  <center>
                    {% if error %}
                        <p style="color: red">{{ error }}</p>
                      {% else %}
                    {% endif %}
                    <h3 class="vh-query__title t-text-white text-capitalize mb-3">
                    Enter Confirmation Code
                  </h3>
                </center>
                  <form method="POST"  class="row g-4">
                    {% csrf_token %}
                    <div class="col-12">
                      <input type="" class="
                          form-control
                          form-control-custom
                          form-control-custom--outline
                          form-control-custom--outline-thin
                          t-text-white
                        " placeholder="Enter Confirmation Code" name="code" required="">
                    </div>
                    <div class="col-12">
                      <button class="
                          btn btn--lg
                          button-solid
                          btn-grad btn-grad--orange
                          text-uppercase
                          btn--sqr
                          w-100
                        " type="submit" name="confirm_code">
                        Submit
                      </button>
                    </div>
                    <div class="col-12">
                      <p class="mb-0 t-text-white text-capitalize">
                        Didn't receive code?
                        <a href="{% url 'resend_confirmation' email %}" class="
                            t-link t-link--primary
                            t-primary-clr
                            text-capitalize
                            d-inline-block
                          ">
                          Resend Code
                        </a>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Back To Top -->
    <div class="back-to-top">
      <span class="back-top">
        <i class="bx bxs-chevron-up"></i>
      </span>
    </div>
    <!-- Back To Top End -->

    <!-- Scripts  -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/odometer.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  

</body></html>