<div class="m_-1745847320119700808content">
<table role="presentation" class="m_-1745847320119700808main">

              
    <tbody><tr>
      <td class="m_-1745847320119700808wrapper">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td>
              <h1>Verification needed</h1>
              <h2>Please confirm your email address</h2>
              <p>Hello {{ name }},</p>
              <p>You have Registered with Chestgold, use the confirmation code below to complete registration</p>

              <h3 style="background-color:cornsilk;padding:4px;text-align:center;width:100%">266714</h3>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="m_-1745847320119700808btn m_-1745847320119700808btn-primary">
                <tbody>
                  <tr>
                    <td align="left">
                      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td> <a href="{{ url }}" target="_blank" data-saferedirecturl="{{ url }}">Proceed</a> </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table> <br>
              <h3>How do I know this email is from Chestgold?</h3>
              <p>The link provided in this email starts with <a href="{{ domain }}" target="_blank" >https://</a> and contain <a href="{{ domain }}" target="_blank">{{ domain }}</a> so you know it is from us.</p>
              <p>Thanks, <br>
              The Chestgold Team</p>
            </td>
          </tr>
        </tbody></table>
      </td>
    </tr>

  
  </tbody></table>

  <div class="m_-1745847320119700808footer">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
      
      <tbody><tr>
        <td class="m_-1745847320119700808content-block m_-1745847320119700808powered-by">
          Copyright © 2024 Chestgold
        </td>
      </tr>
    </tbody></table>
  </div>
</div>