
{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="col-md-9 col-xxl-9">
    <div class="vh-user-panel t-bg-alpha">
      <ul
        class="
          list list--row
          align-items-center
          justify-content-center justify-content-lg-start
        "
      >
        <div class="list--row__item d-lg-inline-block my-2 col-sm-5">
          <h4 class="vh-user-panel__title t-text-white text-capitalize">Dashboard</h4>
        </div>
        <div class="list--row__item my-2 col-sm-6">
          <ul class="list list--row align-items-center">
            <li class="list--row__item">
              <a href="{% url 'dashboard' %}" class="d-flex vh-user__img vh-user__img--sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                </svg>
              </a>
            </li>
            <li class="my-2">
              <div class="vh-multilang">
                <select id="dropdown-menu">
                  <option value="{% url 'profile' %}">Profile</option>
                  <option value="{% url 'change_password' %}">Change password</option>
                  <option value="{% url 'logout' %}">Log out</option>
                </select>
              </div>
            </li>
          </ul>
        </div>
      </ul>
    </div>
            <div class="mt-5">
              <div class="row g-3 g-xl-4">
                <div class="col-md-6 col-lg-4">
                  <div class="vh-user-card t-bg-gradient-orange">
                    <div class="row">
                    <p class="mb-0 fw-bold text-capitalize t-text-white xl-text col-lg-10">
                      Available Balance
                      <svg style="color: #000;" class="col-lg-2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16" data-toggle="tooltip" data-placement="top" title="Main account balance without locked or under progress">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                    </p>
                      </div>
                    <h3 class="t-text-white fw-bold text-uppercase vh-user-card__title">
                      {{ balance|floatformat:2 }} usd
                    </h3>

                    <div class="row">
                    <p class="mb-0 fw-bold text-capitalize t-text-white xl-text col-lg-10" style="font-size: 14px">
                      Investment Account
                      <svg style="color: #000;" class="col-lg-2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16" data-toggle="tooltip" data-placement="top" title="Additional balance in your investment account">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                    </p>
                      </div>
                    <h3 class="t-text-white fw-bold text-uppercase vh-user-card__title" style="font-size: 14px">
                      {{ user.get_all_investments|floatformat:2 }} usd
                    </h3>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="vh-user-card t-bg-gradient-orange">
                    <div class="row">
                    <p class="mb-0 fw-bold text-capitalize t-text-white xl-text col-lg-10">
                      Total Deposit
                      <svg style="color: #000;" class="col-lg-2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16" data-toggle="tooltip" data-placement="top" title="The total deposit amount without under progress">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                    </p>
                      </div>
                    <h3 class="t-text-white fw-bold text-uppercase vh-user-card__title">
                      {{ total_deposited|floatformat:2 }} usd
                    </h3>

                    <div class="row">
                    <p class="mb-0 fw-bold text-capitalize t-text-white xl-text col-lg-10" style="font-size: 14px">
                      This month
                    </p>
                      </div>
                    <h3 class="t-text-white fw-bold text-uppercase vh-user-card__title" style="font-size: 14px">
                      {{ total_deposited_m|floatformat:2 }} usd
                    </h3>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="vh-user-card t-bg-gradient-orange">
                    <div class="row">
                    <p class="mb-0 fw-bold text-capitalize t-text-white xl-text col-lg-10">
                      Total Withdrawal
                      <svg style="color: #000;" class="col-lg-2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16" data-toggle="tooltip" data-placement="top" title="The total deposit amount without under progress">
                        <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                    </p>
                      </div>
                    <h3 class="t-text-white fw-bold text-uppercase vh-user-card__title">
                      {{ total_withdrawn|floatformat:2 }} usd
                    </h3>

                    <div class="row">
                    <p class="mb-0 fw-bold text-capitalize t-text-white xl-text col-lg-10" style="font-size: 14px">
                      This month
                    </p>
                      </div>
                    <h3 class="t-text-white fw-bold text-uppercase vh-user-card__title" style="font-size: 14px">
                      {{ total_withdrawn_m|floatformat:2 }} usd
                    </h3>
                  </div>
                </div>
              </div>
            </div>

      <div class="mt-5">
      <div class="row g-3 g-xl-4">
          <div class="col-12">
            <div class="vh-auth">
              <div class="row g-4">
                <div class="col-lg-12" style="margin: auto;">
                      <h4 class="vh-query__title fw-bold t-text-white text-capitalize">
                    Refer Us & Earn
                      </h4>
                      <p class="t-text-white text-capitalize">Use the below link to invite your friends.</p>
                    <div class="row">  
                    <div class="col-10">
                      <input
                        class="
                          form-control
                          form-control-custom--outline
                          form-control-custom--outline-thin
                          t-text-white
                        " readonly value="https://Chestgold.net/signup?refer={{ ref }}" style="cursor: default; text-align: center;"/>
                        </div>
                        <div class="col-2 input-group-append">
                          <button class="btn btn-outline-secondary" type="button" id="copyButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                              <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                              <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                          </button>
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock content %}