<div class="m_-1745847320119700808content">
  <table role="presentation" class="m_-1745847320119700808main">
  
                
      <tbody><tr>
        <td class="m_-1745847320119700808wrapper">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td>
                <h1>Deposit Notification</h1>
                  <h2>Please confirm your email address</h2>
                  <p>Hello {{ name }},</p>

                  {% if type == "btc" %}
                      <p>Your deposit of {{ amount|floatformat:2 }} BTC will reflect in your wallet once it has been confirmed.</p>
                  {% elif type == "bank transfer" %}
                      <p>Your deposit of {{ amount }} USD will reflect in your wallet once it has been confirmed.</p>
                      <p>Complete your deposit by transferring the amount to the following bank account:</p>
                      <p>
                          <strong>Bank Name:</strong> {{ detail.bank_name }}<br>
                          <strong>Account Number:</strong> {{ detail.bank_account_number }}<br>
                          <strong>Account Name:</strong> {{ detail.bank_account_name }}
                      </p>
                  {% elif type == "zelle" %}
                      <p>Your deposit of {{ amount|floatformat:2 }} USD will reflect in your wallet once it has been confirmed.</p>
                      <p>Complete your deposit by transferring the amount to the following Zelle account:</p>
                      <p>
                          <strong>Email:</strong> {{ detail.zelle_email }}
                      </p>
                  {% elif type == "cash app" %}
                      <p>Your deposit of {{ amount|floatformat:2 }} USD will reflect in your wallet once it has been confirmed.</p>
                      <p>Complete your deposit by transferring the amount to the following Cash App account:</p>
                      <p>
                          <strong>Username:</strong> {{ detail.cashapp_username }}<br>
                          <strong>Account Name:</strong> {{ detail.cashapp_account_name }}
                      </p>
                  {% elif type == "paypal" %}
                      <p>Your deposit of {{ amount|floatformat:2 }} USD will reflect in your wallet once it has been confirmed.</p>
                      <p>Complete your deposit by transferring the amount to the following PayPal account:</p>
                      <p>
                          <strong>Email:</strong> {{ detail.paypal_email }}
                      </p>
                  {% endif %}


                <a href="{{ url  }}" target="_blank" data-saferedirecturl="{{ url }}">View Transaction Details</a>
               
                <h3>How do I know this email is from Chestgold?</h3>
                <p>The link provided in this email starts with <a href="{{ domain }}" target="_blank" >https://</a> and contain <a href="{{ domain }}" target="_blank">{{ domain }}</a> so you know it is from us.</p>
                <p>Thanks, <br>
                The Chestgold Team</p>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
  
    
    </tbody></table>
  
    <div class="m_-1745847320119700808footer">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        
        <tbody><tr>
          <td class="m_-1745847320119700808content-block m_-1745847320119700808powered-by">
            Copyright © 2024 Chestgold
          </td>
        </tr>
      </tbody></table>
    </div>
  </div>