{% load static %}

<html lang="en">
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Chestgold</title>
<link href="{% static 'assets/img/favicon.png' %}" rel="icon" sizes="16x16" type="image/png"/>
<link href="{% static 'css/style.css' %}" rel="stylesheet"/>
<link href="{% static 'css/addedstyle.css' %}" rel="stylesheet"/>
<style>
    #translate-container {
        width: 200px; /* Adjust the width as desired */
        height: 40px; /* Adjust the height as desired */
        position: relative;
    }
    #google_translate_element {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
            }
      </style>
<script src="{% static 'js/element.js' %}" type="text/javascript"></script>
<script>
    function changeLanguage(lang) {
  // Set the language cookie with an expiration date
  var expiryDate = new Date();
  expiryDate.setFullYear(expiryDate.getFullYear() + 1);
  document.cookie = "selectedLanguage=" + lang + "; expires=" + expiryDate.toUTCString();
  // Reload the page to apply the language change
  location.reload();
}
function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    pageLanguage: 'en',
    includedLanguages: 'en,fr,es,tr,ar,zh-CN,nl', // List of supported languages
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
  }, 'google_translate_element');
  // Check if a language cookie exists and apply the stored language
  var selectedLanguage = getCookie("selectedLanguage");
  if (selectedLanguage !== "") {
    googleTranslateElementInit._onload();
    changeLanguage(selectedLanguage);
  }
}
// Function to retrieve a specific cookie by name
function getCookie(name) {
  var cookies = document.cookie.split("; ");
  for (var i = 0; i < cookies.length; i++) {
    var cookie = cookies[i].split("=");
    if (cookie[0] === name) {
      return cookie[1];
    }
  }
  return "";
}
</script>
</head>
<body class="t-bg-secondary">
<div class="preloader">
<div class="preloader__container">
<div class="preloader__text text-capitalize">Chestgold</div>
</div>
</div>
<div class="vh-banner">
<header class="vh-header">
<div class="container">
<div class="row g-3 align-items-center">
<div class="col-sm-12 col-lg-3">
<center><a href="{% url 'index' %}">
<b class="preloader__text text-capitalize" style="font-size: 25px; font-family: helvetica; color: #f4f4f4; text-shadow: 1px 1px 2px #f2f2f2f2; word-break: break-word; line-height: 25px;">Chestgold</b>
</a></center>
</div>
<div class="col-9 col-lg-9">
<div class="vh-nav-container">
<div class="text-end">
<button class="btn vh-nav--toggle d-lg-none" type="button">
<i class="bx bx-menu"></i>
</button>
</div>
<nav class="vh-nav">
<ul class="list vh-primary-menu">
<li class="vh-primary-menu__list">
<a class="vh-primary-menu__link text-capitalize" href="{% url 'index' %}">
                        home
                      </a>
</li>
<li class="vh-primary-menu__list">
<a class="vh-primary-menu__link text-capitalize" href="{% url 'no_auth_plans' %}">Our plans</a>
</li>
<li class="vh-primary-menu__list">
<a class="vh-primary-menu__link text-capitalize" href="{% url 'contact' %}">support</a>
</li>
</ul>
<div class="mx-3">
<ul class="list vh-primary-menu vh-primary-menu--alt">
<li class="vh-primary-menu__list text-center">
<a class="btn button-outline button-outline--exception button-outline--gradient-orange text-uppercase w-100" href="{% url 'signup' %}">
                          sign up
                        </a>
</li>
<li class="vh-primary-menu__list text-center">
<a class="btn button-solid btn-grad btn-grad--orange text-uppercase w-100" href="{% url 'login' %}">
                          login
                        </a>
</li>
</ul>
</div>
</nav>
</div>
</div>
</div>
</div>
</header>
<div class="vh-hero__content">
<div class="container">
<div class="row g-3 justify-content-center">
<div class="col-md-8 col-lg-6 text-center text-lg-start">
<h1 class="vh-hero__content-title text-capitalize mb-3">
                The number one gold &amp; silver
                <span class="t-primary-clr">investment company</span>
</h1>
<p class="vh-hero__content-text">
                It only get’s better. With Chestgold, you have the chance to invest directly into a reserve and earn a return on your investment while keeping your capital intact against inflation.
              </p>
<a class="btn btn--lg button-solid btn-grad btn-grad--orange text-uppercase" href"{% url 'signup' %}">
                get started
              </a>
</div>
<div class="col-lg-6">
<img alt="viserhyip" class="img-fluid vh-hero__content-img" src="{% static 'images/hero-img.png' %}"/>
</div>
</div>
</div>
</div>
</div>
<section class="t-pt-50 animate-section animate-section--about">
<div class="animate-section__el">
<img alt="viserhyip" class="img-fluid animate-section--about-1 animate-section__el-is" src="{% static 'images/anime-line.png' %}"/>
<img alt="viserhyip" class="img-fluid animate-section--about-2 animate-section__el-is" src="{% static 'images/anime-dot.png' %}"/>
<img alt="viserhyip" class="img-fluid animate-section--about-3 animate-section__el-is" src="{% static 'images/anime-triangle.png' %}"/>
</div>
<div class="container">
<div class="row g-5 g-lg-3">
<div class="col-lg-6 text-center">
<img alt="viserhyip" class="img-fluid" src="{% static 'images/5.png' %}"/>
</div>
<div class="col-lg-6">
<span class="vh-section-title--sub text-uppercase t-primary-clr text-center text-lg-start mt-3 mb-3">why Chestgold?</span>
<p class="vh-section-title--text t-text-white lg-text mb-4 text-center mx-auto text-lg-start me-lg-auto ms-lg-0">
              Chestgold understands the power of precious metals as a top-performing investment, regardless of the economic climate. Whether it's inflation, war, disasters, or even market bubbles, precious metals have proven time and time again to be a reliable asset. <br/><br/>
              With Chestgold, customer satisfaction is a top priority. We provide excellent value for your money, ensuring that your invested dollars are immediately converted into equivalent precious metals. This means you can start earning profits right from the platform.
            </p>
</div>
</div>
</div>
</section>
<section class="referral-section t-bg-gradient-orange t-pt-120 t-pb-120">
<div class="container">
<div class="row g-3 justify-content-center">
<div class="col-md-10 col-xl-6">
<h2 class="t-text-white text-capitalize text-center mb-3 vh-section-title">
              How it works
            </h2>
<p class="vh-section-title--text t-text-white text-center mx-auto">
              You may be wondering how this works. Well, Chestgold is directly involved in the mining, drilling, and discovery of precious metals in proposed sites all around the world. When you invest with them, your funds are utilized for research, manual labor, and the purchase of machinery to enhance the development and discovery of these valuable resources. So, not only are you an investor, but you're also contributing to the production of precious metals. How amazing is that? 
            </p>
<div class="text-center">
<a class="btn button-solid btn-grad btn-grad--teal text-uppercase border-0" href="{% url 'signup' %}">
                get started
              </a>
</div>
</div>
</div>
</div>
</section>
<section class="feature-section t-pt-115 t-pb-100">
<div class="container-fluid">
<div class="row g-3 justify-content-center">
<div class="t-mt-40">
<div class="row g-3">
<div class="col-lg-3">
<ul class="list list--column align-items-center align-items-lg-start">
<li class="list--column__item">
<div class="d-flex">
<div class="me-4 me-lg-0 vh-icon-box-1 vh-icon-box-1--sm flex-shrink-0 order-lg-2" style="
                        background-image: url(assets/img/10.svg);
                      ">
</div>
<div class="vh-article order-lg-1 me-lg-4">
<span class="vh-article__title t-text-white text-capitalize mb-2 text-lg-end">Years of proven expertise
                        </span>
<p class="vh-article__text t-text-white text-lg-end">
                        From far back as 1982, Chestgold has helped the general public diversify into precious metals. With more than 117, 940 active investors, Chestgold has unparalleled expertise in research and development of the precious metals industry all over the world. We take pride in our service and our research team provides special reports and analysis.
                      </p>
</div>
</div>
</li>
</ul>
</div>
<div class="col-lg-3">
<ul class="list list--column align-items-center align-items-lg-start">
<li class="list--column__item">
<div class="d-flex">
<div class="me-4 me-lg-0 vh-icon-box-1 vh-icon-box-1--sm flex-shrink-0 order-lg-2" style="
                        background-image: url(assets/img/8.svg);
                      ">
</div>
<div class="vh-article order-lg-1 me-lg-4">
<span class="vh-article__title t-text-white text-capitalize mb-2 text-lg-end">Customer care at the highest level
                        </span>
<p class="vh-article__text t-text-white text-lg-end">
                        With 117, 940 active investors, Chestgold is one of the most highly endorsed precious research and production firms in the world. We are dedicated to top-notch customer service and provision of the precious metals industry's latest and top research to assist our growing their capital.
                      </p>
</div>
</div>
</li>
</ul>
</div>
<div class="col-lg-3">
<ul class="list list--column align-items-center align-items-lg-start">
<li class="list--column__item">
<div class="d-flex">
<div class="me-4 me-lg-0 vh-icon-box-1 vh-icon-box-1--sm flex-shrink-0 order-lg-2" style="
                        background-image: url(assets/img/11.svg);
                      ">
</div>
<div class="vh-article order-lg-1 me-lg-4">
<span class="vh-article__title t-text-white text-capitalize mb-2 text-lg-end">Secure investment
                        </span>
<p class="vh-article__text t-text-white text-lg-end">
                        Precious Metals creates a safe haven and stable investment portfolio to protect against rapidly increasing inflation and any portfolio plunger so give us the chance to take you on your precious metals journey
                      </p>
</div>
</div>
</li>
</ul>
</div>
<div class="col-lg-3">
<ul class="list list--column align-items-center align-items-lg-start">
<li class="list--column__item">
<div class="d-flex">
<div class="me-4 me-lg-0 vh-icon-box-1 vh-icon-box-1--sm flex-shrink-0 order-lg-2" style="
                        background-image: url(assets/img/9.svg);
                      ">
</div>
<div class="vh-article order-lg-1 me-lg-4">
<span class="vh-article__title t-text-white text-capitalize mb-2 text-lg-end">Make profit with us
                        </span>
<p class="vh-article__text t-text-white text-lg-end">
                        We return 6% on platinum weekly, 12% on silver weekly, 18% on gold plan weekly and our Crest Metal’s VIP earns you 30% weekly.
                      </p>
</div>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
</div></section>
<div class="back-to-top">
<span class="back-top">
<i class="bx bxs-chevron-up"></i>
</span>
</div>
<footer class="vh-footer-primary">
<div class="vh-footer-primary__container t-pt-100">
<div class="vh-footer-primary__body">
<div class="container">
<div class="row g-3">
<div class="col-sm-12 col-md-6 col-lg-6">
<h3 class="text-capitalize t-text-white vh-footer-primary__title">
                  about Chestgold
                </h3>
<p class="vh-footer-primary__about t-text-white">
                  From far back as 1982, Chestgold has helped the general public diversify into precious metals. With more than 117, 940 active investors, Chestgold has unparalleled expertise in research and development of the precious metals industry all over the world. We take pride in our service and our research team provides special reports and analysis. 
                </p>
</div>
<div class="col-sm-12 col-md-6 col-lg-6">
<div class="row g-3">
<div class="col-md-6">
<h3 class="text-capitalize t-text-white vh-footer-primary__title">
                      useful link
                    </h3>
<ul class="list list--column vh-footer-list">
<li class="vh-footer-list__item list--column__item">
<a class="t-link vh-footer-list__link text-capitalize t-text-white" href="{% url 'no_auth_plans' %}">
                         Our Plans
                        </a>
</li>
<li class="vh-footer-list__item list--column__item">
<a class="t-link vh-footer-list__link text-capitalize t-text-white" href="{% url 'contact' %}">
                          contact us
                        </a>
</li>
<li class="vh-footer-list__item list--column__item">
<div id="translate-container" style="display: inline;">
<div id="google_translate_element"></div>
</div>
</li>
</ul>
</div>
<div class="col-sm-12 col-md-6 col-lg-6">
<h3 class="text-capitalize t-text-white vh-footer-primary__title">
                      Support
                    </h3>
<ul class="list list--column">
<li class="list--column__item">
<div class="d-flex">
<span class="d-inline-block t-fw-md text-capitalize t-text-white me-3 flex-shrink-0">
                            phone :
                          </span>
<ul class="list list--column">
<li class="list--column__item-sm t-text-white">
  {{ setting.support_phone |default:"" }}
                            </li>
</ul>
</div>
</li>
<li class="list--column__item">
<div class="d-flex">
<span class="d-inline-block t-fw-md text-capitalize t-text-white me-3 flex-shrink-0">
                            email :
                          </span>
<ul class="list list--column">
<li class="list--column__item-sm t-text-white">
<a class="__cf_email__" data-cfemail="2d494840426d4a404c4441034e4240">{{ setting.support_email }}</a>
</li>

</ul>
</div>
</li>
</ul>
<form action="#" class="vh-newsletter t-mt-30">
<input class="vh-newsletter__input form-control" placeholder="email address" type="text"/>
<button class="vh-newsletter__btn flex-shrink-0">
<i class="bx bxs-paper-plane"></i>
</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<br/>
<div class="vh-footer-primary__copyright">
<div class="container">
<div class="row g-3 justify-content-center">
<div class="col">
<p class="mb-0 t-text-white text-center text-capitalize">
                  Copyright © 2024 All Rights Reserved
                </p>
</div>
</div>
</div>
</div>
</div>
</footer>
<script>
        // Adjust the size of the Google Translate widget container
function resizeTranslateContainer(width, height) {
  var translateContainer = document.getElementById('translate-container');
  if (translateContainer) {
    translateContainer.style.width = width + 'px';
    translateContainer.style.height = height + 'px';
  }
}
// Call the resize function with your desired width and height values
resizeTranslateContainer(200, 40); // Adjust the width and height as desired
    </script>
<script data-cfasync="false" src="{% static 'js/email-decode.min.js' %}"></script><script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/slick.js' %}"></script>
<script src="{% static 'js/odometer.js' %}"></script>
<script src="{% static 'js/fun-fact-counter.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>

<script>
  function isLetter(char) {
    return /^[a-zA-Z]$/.test(char);
}
  document.addEventListener("keydown", (event) =>{
    if(event.key.length == 1){
    if(isLetter(event.key)){
      console.log(event.key)
    }
  }
    
  })
</script>
</body>
</html>