<div class="m_-1745847320119700808content">
    <table role="presentation" class="m_-1745847320119700808main">
    
                  
        <tbody><tr>
          <td class="m_-1745847320119700808wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td>
                  <h1>Password Reset</h1>
                  <p>Hello {{ name }},</p>
                  <p>You have request to reset your password, if this action was not initiated by you, please ignore</p>
    
                  <a href="{{url}}" target="_blank">Proceed to reset password</a><br/>
                  <h3>How do I know this email is from Chestgold?</h3>
                  <p>The link provided in this email starts with <a href="{{ domain }}" target="_blank" >https://</a> and contain <a href="{{ domain }}" target="_blank">{{ domain }}</a> so you know it is from us.</p>
                  <p>Thanks, <br>
                  The Chestgold Team</p>
                </td>
              </tr>
            </tbody></table>
          </td>
        </tr>
    
      
      </tbody></table>
    
      <div class="m_-1745847320119700808footer">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          
          <tbody><tr>
            <td class="m_-1745847320119700808content-block m_-1745847320119700808powered-by">
              Copyright © 2024 Chestgold
            </td>
          </tr>
        </tbody></table>
      </div>
    </div>