{% extends "base.html" %}

{% block title %}Plans{% endblock title %}

{% block content %}
<div class="col-md-9 col-xxl-9">
    <div class="row vh-user-panel t-bg-alpha">
        <div class="list--row__item d-lg-inline-block text-center my-2 col-lg-12 col-sm-12">
          <h3 class="vh-user-panel__title t-text-white text-capitalize">
            Investment Plans
          </h3>
          <p class="t-text-white text-capitalize">
            Here are several of our plans you can invest in. Choose your investment plan and start earning now
          </p>
          <p class="t-text-white text-capitalize">
            <small>Choose your plan and start earning now.</small>
          </p>
        </div>                
    </div>
    <style>
      .mt-5 .row.text-capitalize.t-text-white .col-6 p  {
              font-size: 12px;
      }

      .mt-5 .row.text-capitalize.t-text-white .col-12 p  {
              line-height: 4px;
      }
    </style>
    <div class="mt-5">
      <div class="row g-3 g-xl-4">



        {% for plan in plans %}
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
          <div class="vh-user-card t-bg-gradient-orange">
            <div class="row">
            <h3 class="mb-0 fw-bold text-capitalize t-text-white xl-text col-lg-10">
              {{ plan.name }} Plan         
              </h3>
              </div>
            <div class="row t-text-white col-lg-12">
            <p style="font-size: 12px">
              Invest for long term &amp; earn more.
            </p>
            </div>

            <div class="row text-capitalize t-text-white">
              <div class="col-6">
                <p>{{ plan.interest|floatformat:2 }}%</p>
              </div>
              <div class="col-6">
                 <p>{{ plan.duration }}</p>
              </div>
              <div class="col-6">
                <p>{% if plan.duration_type == "weeks" %}Weekly{% else %}Monthly{% endif %} Interest</p>
              </div>
              <div class="col-6">
                 <p>Term {% if plan.duration_type == "weeks" %}{% if plan.duration > 1 %}weeks{% else %}week{% endif %}{% else %}{% if plan.duration > 1 %}months{% else %}month{% endif %}{% endif %}</p>
              </div>
              
            </div>

            <hr>

            <div class="row text-capitalize t-text-white">
              <div class="col-12" style="line-height: 1.5px; text-align: left;">
                <p>Min Deposit - <b>{{ plan.min_deposit|floatformat:2 }} USD</b></p>
                 <p>Max Deposit - {{ plan.max_deposit|floatformat:2 }} USD</p>
                 <p>Term Duration - {{ plan.duration }} {% if plan.duration_type == "weeks" %}{% if plan.duration > 1 %}weeks{% else %}week{% endif %}{% else %}{% if plan.duration > 1 %}months{% else %}month{% endif %}{% endif %}</p>
                 <p>Payout Term - After maturity</p>
                 <p>Capital Return<svg style="color: #000;" class="col-lg-2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 16 16" data-toggle="tooltip" data-placement="top" title="" data-bs-original-title="The invested amount will be returned at the end of term">
                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
              </svg>  - End of Term</p>
              <p>Total Return - {{ plan.interest }}%</p>  

              </div>
              
            </div>
          
            <div class="col-12">
              <a href="{% url 'subscribe_plan' plan.id %}">
              <button type="submit" name="platinum" class="btn btn-block btn-secondary mt-2">
                <b>Invest Now
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                  </svg>
                </b>
              </button>
            </a>
              </div>

          </div>
        </div>


        {% endfor %}



        

       
      </div>
    </div>
{% endblock content %}